{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles_test.css' %}">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css">
    <script defer src="https://pyscript.net/latest/pyscript.js"></script> 
    <py-config>
        [splashscreen]
            enabled = false
    </py-config>
    <title>Tenth Circuit ICMS-Compatible IWO/Florida Addendum</title>

</head>
<body>
<header>
<section class="top-header">
    <div class="top-header-left" id="banner" name="banner">

            <div><h1>Florida's Tenth Judicial Circuit</h1></div>
            <div><h5><i>Where Professionalism is a Priority</i></h5></div>

    </div>

    <div class="top-header-right">

            <h2>Bar Services</h2>

    </div>
</section>
<section class="bottom-header">
        <div class="bottom-header-left">
            <h2><strong>ICMS-Compatible Income Withholding Order for Support/Florida Addendum</strong></h2> 

            <form method="POST" action="/iwo/readword/" enctype="multipart/form-data">
            {% csrf_token %}
            <div id=globals hidden>
                <input type="text" id="global_obligoraddress" value="">
                <input type="text" id="global_obligeeaddress" value="">
                <input type="text" id="global_per" value="">
                <input type="text" id="global_lump" value="">
                <input type="text" id="global_alimony" value="">
                <input type="text" id="global_import" value="">
                <input type="text" id="global_term" value="">
                <input type="text" id="global_downloading" value="">
            </div>
        </div>
        <div class="bottom-header-right">
            <div class="nav">
            <a href="/iwo/home/">
                <button type="button" action="/iwo/home/" id="gohome" name="gohome"><strong>Home</strong></button>
            </a>
            <!--<a href="/iwo/home/">
                <button type="button" action="/iwo/home/" id="gohome" name="gohome"><strong>Clear Form</strong></button>
            </a>
            <button py-click="show_noformat('yes')" type="button" id="disableformat" name="disableformat"><strong>Autoformat Options</strong></button>
            <a href="/iwo/help/">
            <button type="button" id="help" name="help"><strong>Help/Information</strong></button>
            </a>
            </div>

            <label for="word-file"><strong>Import:</strong><input class="small-input" py-click="show_import()" type="file" name="word_file" id="word_file"><button py-click="unshow_import()" type="submit" name="read_word" id="read_word" style="background-color:green" hidden><strong>Import</strong></button></label>
            <button py-click="unshow_import()" type="submit" name="read_word" id="read_word" style="background-color:green" hidden><strong>Import</strong></button>-->

        </div>
         </form>
</section>
</header>



    <!--<div  class="warning2" id="message" name="message" hidden>
        <article class="card" style="width:100%">
        <div style="margin-bottom:2rem;">


            <h4 style="font-size:1.3rem;text-align:center;">Your file is downloading.  Check your downloads folder.</h4>
        </div>
        <div id="buttons" name="buttons" style="margin-left:-.5rem">
            
                <table class="button-table">
                    <tr>
                        <td style="text-align:center">
                            <form method="POST" action="/iwo/input-test/">
                            {% csrf_token %}
                                <button class="next_back" type="submit" style="font-size:1rem">Edit Document</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="/iwo/home/">
                            {% csrf_token %}
                                <button class="next_back" type="submit" style="font-size:1rem">New Document</button>
                            </form>
                        </td>
                    </tr>
                </table>
            
        </div>
        </article>
    </div>-->







<div class="warning2">
    <article class="card" style="width:100%">
        <!--<div style="margin-bottom:2rem">
            <h4>ICMS-Compatible Income Withholding Order for Support/Florida Addendum</h4> 
        </div>-->

                    <div style="margin-bottom:2rem">

                            <h4 style="font-size:1.3rem;text-align:center;">The selected file is not a valid file for import. Please select an IWO/Florida Addendum in .docx format previously generated with this application.</h4>
                    </div>

        <div style="margin-top:2rem">
                <table class="button-table">
                    <tr>
                        <td style="text-align:center">
                            <form method="POST" action="/iwo/input/">
                            {% csrf_token %}
                                <button type="submit" class="next_back">OK</button>
                            </form>
                        </td>
                    <tr>
                </table>

        </div>
    </article>
</div>
</body>
</html>